 .box {
        display: flex;
      }

.teste_frame{
  margin-top: 30px;
  padding: 10px;
  font:bold;
  border: 4px solid #1C6EA4;
}

label{
  margin-right:10px;
}

th{
  text-align: center;  
}

.teste_titulo{
  width:100%;
  text-align: center;
  font-weight: bold;
}

#corrente_compressor_header{
  display: flex;
  flex-direction: column ;
  align-items:baseline;
}

.teste_botao{
  width:100%;
  text-align: right;
}

button{
  width: 20%;
}



.teste_opcoes{
  display: flex;
  flex-direction: row ;
  align-items:baseline;
}


input{
  width=10%;
}

.salvar_botao{
  margin-top: 30px;
  padding: 10px;
  font:bold;
}




