body {
  font-size: .875rem;
}

.flex-container {
  display: flex;
  flex-direction:column;
}


.top-buffer { margin-top:20px; }

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: relative;
  /*
  top: 0;
   rtl:raw:
  right: 0;
  
  bottom: 0;
  * */
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {

  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top:0;
  left:0;
  padding=0;
  margin=0;
  /*
  right: 1rem;*/
}

.navbar .form-control {
  /*padding: .75rem 1rem;*/
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.engenharia{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
}
.logo{
  flex-grow:4;
  color:white;
}

#teste_log_1{
    max-height: 200px;
    height:200px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

#model_card{
    max-height: 220px;
    height:220px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

table {
  width: 100%;
  border: 1px solid black;
}

th, td {
    border: 1px solid black;
    overflow: hidden;
    text-align: center;
}

.tabela_descricao{
   width:35%;
   border: 1px solid black;
    overflow: hidden;
    text-align: center;
}

.tabela_especificacao{
   width:30%;
   border: 1px solid black;
   overflow: hidden;
   text-align: center;
}

.tabela_lido{
   width:35%;
   border: 1px solid black;
   overflow: hidden;
   text-align: center;
}


