<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.82.0">
    
    <title>dashboard</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/dashboard/">   

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/dashboard.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/dashboard.css') }}"  >
    
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style> 
    <!--
     <link  href="{{ url_for('static', filename='./css/dashboard.css') }}"  rel="stylesheet">
      Custom styles for this template 
    <link href="./css/dashboard.css" rel="stylesheet">
    -->
  </head>
  <body>
  

  <div class="container-fluid t-4  "  >
    

    <div class="row align-text-top" style="z-index:1;position:relative">  
      <a >   
        <img src="{{ url_for('static', filename='./img/logo_jabil_main.PNG') }}" width=100% style="z-index:0">    
      </a>
       <h1 style="z-index:10; top:30%;left:10%; position:absolute; color:white;">TESTE DE COMPRESSORES</h1>
    </div>



  

    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar align-text-top collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">

            <li class="nav-item">
              <a class="nav-link" href="/">
                <span data-feather="file"></span>
                Principal
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="modelos">
                <span data-feather="shopping-cart"></span>
                Modelos
              </a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="especificacoes">
                <span data-feather="layers"></span>
                Especificações
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="configuracao">
                <span data-feather="users"></span>
                Configurações
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="layers"></span>
                Relatórios
              </a>
            </li>
          </ul>
        
        
    
      </div>
<!--
      <div class="engenharia">       
       
        <div class="logo">-</div>  
        <div class="logo">-</div>  
        <div class="logo">-</div>  
         <div class="logo">-</div>  
        <div class="logo">-</div>  
        <div class="logo">-</div>        
        <div class="logo" align="center">          
          <img src="{{ url_for('static', filename='./img/logo_egenharia_industrial_trasparente.png') }}" width=50% align="center">  
        </div>
        <div class="logo">-</div>  
        <div class="logo" align="center">
          <img src="{{ url_for('static', filename='./img/logo_engenharia_teste_transparente.png') }}" width=50% align="center">         
        </div>       
      
      </div>
-->
      
      
    </nav>
    {% block content %}	
    {%endblock%}  
    
    
  </div>
</div>

  <script src="{{ url_for('static', filename='./js/dashboard.rtl.js') }}"></script>  
  <script src="{{ url_for('static', filename='./js/bootstrap.bundle.min.js') }}"></script>

<!--
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script><script src="dashboard.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script><script src="dashboard.js"></script>
-->
  </body>
</html>

