{%extends 'base.html'%}


{% block content %}
  
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
	<form action="" method="POST">
		<div class="mb-3">				
			<label for="exampleInputEmail1" class="form-label">Código:</label>
			{% if modelo %}
				<input type="text" class="form-control" id="codigo" name="codigo" aria-describedby="emailHelp" autocomplete="off" value={{modelo.codigo}}>
			{% else %}
				<input type="text" class="form-control" id="codigo" name="codigo" autocomplete="off" aria-describedby="emailHelp">
			{% endif %}
		</div>
		
		<div class="mb-3">
			
			<label for="exampleInputEmail1" class="form-label">Cliente:</label>
			{% if modelo %}
				<input type="text" class="form-control" id="cliente" name="cliente" aria-describedby="emailHelp" autocomplete="off" value={{modelo.cliente}}>
			{% else %}
				<input type="text" class="form-control" id="cliente" name="cliente" autocomplete="off" aria-describedby="emailHelp">
			{% endif %}
		</div>
		
		<div class="mb-3">
			<label for="exampleInputPassword1" class="form-label">Nome:</label>
			{% if modelo %}
				<input type="text" class="form-control" id="nome" name="nome" autocomplete="off" value={{modelo.nome}}>
			{% else %}
				<input type="text" class="form-control" id="nome" name="nome" autocomplete="off">
			{% endif %}
			
			
		</div>
		
		<div class="mb-3">
			<label for="exampleInputEmail1" class="form-label">BTU's:</label>
			{% if modelo %}
				<input type="text" class="form-control" id="btus" name="btus" autocomplete="off" aria-describedby="emailHelp"  value={{modelo.btus}}>
			{% else %}
				<input type="text" class="form-control" id="btus" name="btus" autocomplete="off" aria-describedby="emailHelp">
			{% endif %}
		</div>
		
		
		
		<div class="mb-3">
			
			
			<label for="exampleInputEmail1" class="form-label">Modo de temperatura:</label>
			{% if modelo %}
				<input type="text" class="form-control" id="modo_temperatura" name="modo_temperatura" autocomplete="off" list="modo_temperatura_list" aria-describedby="emailHelp" value={{modelo.modo_temperatura}}>
			{% else %}
				<input type="text" class="form-control" id="modo_temperatura" name="modo_temperatura" autocomplete="off" list="modo_temperatura_list" aria-describedby="emailHelp">
			{% endif %}
			<datalist id="modo_temperatura_list">
				<option value="FRIO"> 
				<option value="QUENTE/FRIO">			
			</datalist>
		
		</div>

		
		<div class="mb-3">
			<label for="exampleInputEmail1" class="form-label">Tipo de alimentação:</label>
			{% if modelo %}
				<input type="text" class="form-control" id="tipo_alimentacao" name="tipo_alimentacao" autocomplete="off" list="tipo_alimentacao_list" aria-describedby="emailHelp" value={{modelo.tipo_alimentacao}}>
			{% else %}
				<input type="text" class="form-control" id="tipo_alimentacao" name="tipo_alimentacao" autocomplete="off" list="tipo_alimentacao_list" aria-describedby="emailHelp">
			
			{% endif %}
			<datalist id="tipo_alimentacao_list">
				<option value="MONOFASICO"> 
				<option value="BIFASICO">	
				<option value="TRIFASICO">		
			</datalist>
		<div class="mb-3">
			
		<div class="mb-3">
			<label for="exampleInputEmail1" class="form-label">Voltagem:</label>
			{% if modelo %}
				<input type="text" class="form-control" id="voltagem" name="voltagem" autocomplete="off" list="voltagem_list" aria-describedby="emailHelp" value={{modelo.voltagem}}>
			{% else %}
				<input type="text" class="form-control" id="voltagem" name="voltagem" autocomplete="off" list="voltagem_list" aria-describedby="emailHelp">
			
			{% endif %}
			<datalist id="voltagem_list">
				<option value="110V"> 
				<option value="220V"> 
				<option value="380V">		
			</datalist>
		</div>
		
		<div class="mb-3">
			<button type="submit" class="btn btn-primary">Salvar</button>		
		</div>	
    </form>
  </main>

{%endblock%}
