{%extends 'base.html'%}


{% block content %}
  
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
	<form action="" method="POST">
		
		<div class="teste_frame">
			<label for = "codigo" class="teste_repeticoes">Modelo: </label>
			{% if especificacoes_compressor %}
				<input type="text" id="codigo" name="codigo" aria-describedby="emailHelp" autocomplete="off" value={{especificacoes_compressor.compressor_code}} >
			{% else %}
				<input type="text" id="codigo" name="codigo" autocomplete="off" value="" aria-describedby="emailHelp">
			{% endif %}
		</div>
		
		<div class="teste_frame">
			
			<div id="autorotinaperifericos_header">
				
				<p class="teste_titulo">Autorotina de periféricos</p>		
						
				<div id="opcao_1" class = "teste_opcoes">
					<label for="corrente_compressor_testar">Testar</label>
					{% if especificacoes_compressor %}
						{%if especificacoes_compressor.perifericos_testar == True %}
							<input type="checkbox" id="corrente_compressor_testar" name="corrente_compressor_testavel" checked>	
						{% else %}
							<input type="checkbox" id="corrente_compressor_testar" name="corrente_compressor_testavel" >	
						{% endif %}
					{% else %}
						<input type="checkbox" id="corrente_compressor_testar" name="corrente_compressor_testavel" >						
					{% endif %}
				</div>	

				
			</div>
							
			<div>
				<table>
					<tr>
						<th></th>
						<th>Min</th>
						<th>Máx</th>
						<th>Lido</th>
					</tr>
					<tr>
						<th>Voltagem V1</th>
						
						<td>
							{% if especificacoes_compressor %}
								<input type="text" id="voltagem_V1_minima" name="voltagem_V1_minima" autocomplete="off" value={{especificacoes_compressor.perifericos_voltagem_v1_min}} >
							{% else %}
								<input type="text" id="voltagem_V1_minima" name="voltagem_V1_minima" autocomplete="off" aria-describedby="emailHelp">
							{% endif %}
						</td>
						
						<td>
							{% if especificacoes_compressor %}
								<input type="text" id="voltagem_V1_maxima" name="voltagem_V1_maxima" aria-describedby="emailHelp" autocomplete="off" value={{especificacoes_compressor.perifericos_voltagem_v1_max}}  >
							{% else %}
								<input type="text" id="voltagem_V1_maxima" name="voltagem_V1_maxima" autocomplete="off" aria-describedby="emailHelp">
							{% endif %}
							
						</td>
						<td>
							<input type="text" id="voltagem_V1_lido" autocomplete="off" aria-describedby="emailHelp">
						</td>
					</tr>
					<tr>
						<th>Voltagem V2</th>
						<td>
							{% if especificacoes_compressor %}
								<input type="text" id="voltagem_V2_minima" name="voltagem_V2_minima" aria-describedby="emailHelp" autocomplete="off" value={{especificacoes_compressor.perifericos_voltagem_v2_min}}  >
							{% else %}
								<input type="text" id="voltagem_V2_minima" name="voltagem_V2_minima" autocomplete="off" aria-describedby="emailHelp">
							{% endif %}							
						</td>
						<td>
							{% if especificacoes_compressor %}
								<input type="text" id="voltagem_V2_maxima" name="voltagem_V2_maxima" aria-describedby="emailHelp" autocomplete="off" value={{especificacoes_compressor.perifericos_voltagem_v2_max}} >
							{% else %}
								<input type="text" id="voltagem_V2_maxima" name="voltagem_V2_maxima" autocomplete="off" aria-describedby="emailHelp">
							{% endif %}								
						</td>
						<td>
							<input type="text" id="voltagem_V2_lido">
						</td>
					
					</tr>
					<tr>
						<th>Voltagem V3</th>
						<td>
							{% if especificacoes_compressor %}
								<input type="text" id="voltagem_V3_minima" name="voltagem_V3_minima" aria-describedby="emailHelp" autocomplete="off" value={{especificacoes_compressor.perifericos_voltagem_v3_min}}  >
							{% else %}
								<input type="text" id="voltagem_V3_minima" name="voltagem_V3_minima" autocomplete="off" aria-describedby="emailHelp">
							{% endif %}								
						</td>
						<td>
							{% if especificacoes_compressor %}
								<input type="text" id="voltagem_V3_maxima" name="voltagem_V3_maxima" aria-describedby="emailHelp" autocomplete="off" value={{especificacoes_compressor.perifericos_voltagem_v3_min}}  >
							{% else %}
								<input type="text" id="voltagem_V3_maxima" name="voltagem_V3_maxima" autocomplete="off" aria-describedby="emailHelp">
							{% endif %}								
						</td>
						<td>
							<input type="text" id="voltagem_V3_lido">
						</td>
					</tr>				
				
				</table>
			
			</div>	
			
			<div  class ="teste_botao" >
					<button id="voltagem_medir" style="max-height = 30px" type="button">Medir</button>	
			</div>	
											
			
		</div>
		
		<div class="teste_frame">
			
			<div id="autorotinaperifericos_header">
				
				<p class="teste_titulo">Partida de compressor</p>		
						
				<div id="opcao_1" class = "teste_opcoes">
					<label for="corrente_compressor_testar">Testar</label>
					{% if especificacoes_compressor %}
						{%if especificacoes_compressor.partida_compressor_testar == True %}
							<input type="checkbox" id="partida_testar" checked>	
						{% else %}
							<input type="checkbox" id="partida_testar" >	
						{% endif %}
					{% else %}
						<input type="checkbox" id="partida_testar" name="partida_testar" >						
					{% endif %}
					
				</div>
				
				<div id="opcao_2" class = "teste_opcoes">
					<label for = "corrente_compressor_repeticoes" class="teste_repeticoes">Tempo de partida: </label>
					{% if especificacoes_compressor %}
						<input type="number" id="partida_tempo" name="partida_tempo" value={{especificacoes_compressor.corrente_compressor_repetir}} aria-describedby="emailHelp" autocomplete="off" >
					{% else %}
						<input type="number" id="partida_tempo" name="partida_tempo" autocomplete="off" aria-describedby="emailHelp">
					{% endif %}
				</div>		
				
			</div>					
			
			<div  class ="teste_botao" >
					<button id="voltagem_medir" style="max-height = 30px" type="button">Partir</button>	
			</div>												
			
		</div>
				
		<div class="teste_frame">
			
			<div id="corrente_compressor_header">
				
				<p class="teste_titulo">Corrente do compressor </p>		
						
				<div id="opcao_1" class = "teste_opcoes">
					<label for="corrente_compressor_testar">Testar</label>
					{% if especificacoes_compressor %}
						{%if especificacoes_compressor.partida_compressor_testar == True %}
							<input type="checkbox" id="corrente_compressor_testar" checked>	
						{% else %}
							<input type="checkbox" id="corrente_compressor_testar" >	
						{% endif %}
					{% else %}
						<input type="checkbox" id="corrente_compressor_testar">						
					{% endif %}
					
				</div>	
				
				<div id="opcao_2" class = "teste_opcoes">
					<label for = "corrente_compressor_repeticoes" class="teste_repeticoes">Tempo de teste: </label>
					{% if especificacoes_compressor %}
						<input type="number" id="corrente_compressor_tempo" name="corrente_compressor_tempo" value={{especificacoes_compressor.corrente_compressor_repetir}} aria-describedby="emailHelp" autocomplete="off" >
					{% else %}
						<input type="number" id="corrente_compressor_tempo" name="corrente_compressor_tempo" autocomplete="off" aria-describedby="emailHelp">
					{% endif %} 
				</div>				
					
				
			</div>
							
			<div>
				<table>
					<tr>
						<th></th>
						<th>Min</th>
						<th>Máx</th>
						<th>Lido</th>
					</tr>
					<tr>
						<th>Corrente L1</th>
						<td>
							{% if especificacoes_compressor %}
								<input type="text" id="compressor_l1_minima" name="compressor_l1_minima" aria-describedby="emailHelp" autocomplete="off" value={{especificacoes_compressor.corrente_compressor_l1_min}} >
							{% else %}
								<input type="text" id="compressor_l1_minima" name="compressor_l1_minima" autocomplete="off" aria-describedby="emailHelp">
							{% endif %}	
						</td>
						<td>
							{% if especificacoes_compressor %}
								<input type="text" id="compressor_l1_maxima" name="compressor_l1_maxima" aria-describedby="emailHelp" autocomplete="off" value={{especificacoes_compressor.corrente_compressor_l1_max}} >
							{% else %}
								<input type="text" id="compressor_l1_maxima" name="compressor_l1_maxima" autocomplete="off" aria-describedby="emailHelp">
							{% endif %}	
							
						</td>
						<td>
												
							<input type="text" id="compressor_l1_lido">
						</td>

					</tr>
					
					<tr>
						<th>Corrente L2</th>
						<td>
							{% if especificacoes_compressor %}
								<input type="text" id="compressor_l2_minima" name="compressor_l2_minima" aria-describedby="emailHelp" autocomplete="off" value={{especificacoes_compressor.corrente_compressor_l2_min}}>
							{% else %}
								<input type="text" id="compressor_l2_minima" name="compressor_l2_minima" autocomplete="off" aria-describedby="emailHelp">
							{% endif %}								
						</td>
						
						<td>
							{% if especificacoes_compressor %}
								<input type="text" id="compressor_l2_maxima" name="compressor_l2_maxima"  aria-describedby="emailHelp" autocomplete="off" value={{especificacoes_compressor.corrente_compressor_l2_max}} >
							{% else %}
								<input type="text" id="compressor_l2_maxima" name="compressor_l2_maxima" autocomplete="off" aria-describedby="emailHelp">
							{% endif %}	
							
						</td>
						<td>
							<input type="text" id="compressor_l2_lido">
						</td>				
					
					</tr>
					
					<tr>
						<th>Corrente L3</th>
						<td>
							{% if especificacoes_compressor %}
								<input type="text" id="compressor_l3_minima" name="compressor_l3_minima" aria-describedby="emailHelp" autocomplete="off" value={{especificacoes_compressor.corrente_compressor_l3_min}} >
							{% else %}
								<input type="text" id="compressor_l3_minima" name="compressor_l3_minima" autocomplete="off" aria-describedby="emailHelp">
							{% endif %}	
							
						</td>
						<td>
							{% if especificacoes_compressor %}
								<input type="text" id="compressor_l3_maxima" name="compressor_l3_maxima" aria-describedby="emailHelp" autocomplete="off" value={{especificacoes_compressor.corrente_compressor_l3_max}}>
							{% else %}
								<input type="text" id="compressor_l3_maxima" name="compressor_l3_maxima" autocomplete="off" aria-describedby="emailHelp">
							{% endif %}	
							
						</td>
						<td>
							<input type="text" id="compressor_l3_lido">
						</td>						

					</tr>				
				
				</table>
			
			</div>	
			
			<div  class ="teste_botao" >
					<button id="compressor_medir" style="max-height = 30px" type="button" >Medir</button>	
			</div>	
											
			
		</div>
		
		<div class="teste_frame">
			
			<div id="inspecao_visual_header">
				
				<p class="teste_titulo">Inspeção Visual</p>		
						
				<div id="opcao_1" class = "teste_opcoes">
					<label for="corrente_compressor_testar">Testar</label>
					{% if especificacoes_compressor %}
						{%if especificacoes_compressor.inpecao_visual_testar == True %}
							<input type="checkbox" id="inspecao_testar" checked>	
						{% else %}
							<input type="checkbox" id="inspecao_testar" >	
						{% endif %}
					{% else %}
						<input type="checkbox" id="inspecao_testar">						
					{% endif %}
					
				</div>	
				
				<div id="opcao_2" class = "teste_opcoes">
					<label for = "corrente_compressor_repeticoes" class="teste_repeticoes">Tempo de inspeção: </label>
					{% if especificacoes_compressor %}
						<input type="number" id="inspecao_tempo" name="inspecao_tempo" value={{especificacoes_compressor.corrente_compressor_repetir}} aria-describedby="emailHelp" autocomplete="off" >
					{% else %}
						<input type="number" id="inspecao_tempo" name="inspecao_tempo" autocomplete="off" aria-describedby="emailHelp">
					{% endif %}
				</div>				
					
				
			</div>					
			
			<div  class ="teste_botao" >
					<button id="voltagem_medir" style="max-height = 30px" type="button" >Partir</button>	
			</div>												
			
		</div>
		
		<div  class ="salvar_botao" >
			<button id = "salvar_botao_id" name="salvar_botao" type="submit">Salvar</button>		
		</div>
		
		
		
    </form>
  </main>
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/cadastro_especificacoes.css') }}"/>
    


{%endblock%}
