
{%extends 'base.html'%}


{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">   
    
    
    <form action="" method="POST">
	<div class="mb-3">
	    <label for="exampleInputEmail1" class="form-label">FTP:</label>	    
	    <input type="text" class="form-control" id="ftp" name="ftp" aria-describedby="emailHelp" value={{configuracoes.ftp}}>
	</div>
	
	<div class="mb-3">
	    <label for="exampleInputPassword1" class="form-label">Endereço:</label>
	    <input type="text" class="form-control" id="endereco" name="endereco" value={{configuracoes.address}}>
	</div>
	
	<div class="mb-3">
	    <label for="exampleInputEmail1" class="form-label">IP:</label>
	    <input type="text" class="form-control" id="ip" name="ip" aria-describedby="emailHelp" value={{configuracoes.ip}}>
	</div>
	
	<div class="mb-3">
	    <label for="exampleInputEmail1" class="form-label">Porta:</label>
	    <input type="text" class="form-control" id="porta" name="porta" aria-describedby="emailHelp" value={{configuracoes.port}}>
	</div>
	
		
	<div class="mb-3">
	    <label for="exampleInputEmail1" class="form-label">Maquina:</label>
	    <input type="text" class="form-control" id="maquina" name="maquina" aria-describedby="emailHelp" value={{configuracoes.maquina}}>
	</div>
	
	<div class="mb-3">
	    <label for="exampleInputEmail1" class="form-label">FVT:</label>
	    <input type="text" class="form-control" id="fvt" name="fvt" aria-describedby="emailHelp" value={{configuracoes.fvt}}>
	</div>
	
	
	<div class="mb-3">
	    <button type="submit" name="salvar" value= "salvar" class="btn btn-primary" >Salvar</button>
	</div>
    </form>
    


</main>
{%endblock%}
