{%extends 'base.html'%}


{% block content %}
  
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
	  
	<div class="mb-3">

        
	</div> 
	  
<!--
	<div class="mb-3">
		
		<button onclick="location.href='cadastro_especificacoes'" type="button" class="btn btn-primary">
         Nova especificação</button>	
        
	</div>  
-->
	  
	<table class="table">
		

		<thead>
			<th>Modelo</th>

		</thead>

		
		<tbody>
			{%for especificacao in especificacoes%}

			<tr>
				<form action="" method="POST">
					
					<td name = "modelo" >
						<input type="text" class="form-control" id="codigo" name="codigo" value={{especificacao.codigo}} aria-describedby="emailHelp">	
					</td>				
											
					<td>
						<button type="submit" name="editar" value= "editar" class="btn btn-warning" >Editar</button>
					</td>					  

				</form>
			<tr>

			{%endfor%}
		</tbody>
    
	</table>
  </main>

{%endblock%}
