{%extends 'base.html'%}


{% block content %}
  
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
	  
	<div class="mb-3">

        
	</div> 
	  
	<div class="mb-3">
		
		<button onclick="location.href='cadastro_especificacoes'" type="button" class="btn btn-primary">
         Nova especificação</button>	
        
	</div>  
	  
	<table class="table">
		
		<thead>
			<th>Modelo</th>
			<th>C_Imax</th>
			<th>C_Imin</th>
			<th>V_Imax</th>
			<th>V_Imin</th>
			<th>Pmax</th>
			<th>Pmin</th>
			<th>Modo</th>
			<th>Ligação</th>
			<th>Voltagem</th>
			<th style="visibility:hidden">editar</th>
			<th style="visibility:hidden">excluir</th>
		</thead>
		
		<tbody>
			{%for especificacao in especificacoes%}
			<tr>
				<form action="" method="POST">
					
					<td name = "modelo" >
						<input type="text" class="form-control" id="codigo" name="codigo" value={{especificacao.compressor_code}} aria-describedby="emailHelp">	
					</td>
					
					<td name = "cimax" >
						<input type="text" class="form-control" id="cimax" name="cimax" value={{especificacao.corrente_compressor_max}} aria-describedby="emailHelp">	
					</td>
					
					<td name = "cimin" >
						<input type="text" class="form-control" id="cimin" name="cimin" value={{especificacao.corrente_compressor_min}} aria-describedby="emailHelp">	
					</td>
					
					<td name = "vimax" >
						<input type="text" class="form-control" id="cimax" name="cimax" value={{especificacao.corrente_ventilador_max}} aria-describedby="emailHelp">	
					</td>
					
					<td name = "vimin" >
						<input type="text" class="form-control" id="cimin" name="cimin" value={{especificacao.corrente_ventilador_min}} aria-describedby="emailHelp">	
					</td>
					
					<td name = "pmax" >
						<input type="text" class="form-control" id="cimax" name="cimax" value={{especificacao.pressao_succao_max,}} aria-describedby="emailHelp">	
					</td>
					
					<td name = "pmin" >
						<input type="text" class="form-control" id="cimin" name="cimin" value={{especificacao.pressao_succao_min,}} aria-describedby="emailHelp">	
					</td>
					
					<td name = "temperatura" >
						<input type="text" class="form-control" id="modo_temperatura" name="modo_temperatura" value={{especificacao.modo_temperatura}} aria-describedby="emailHelp">	
					</td>
					
					<td name = "alimentacao" >
						<input type="text" class="form-control" id="tipo_alimentacao" name="tipo_alimentacao" value={{especificacao.tipo_alimentacao}} aria-describedby="emailHelp">	
					</td>
					
					<td name = "voltagem" >
						<input type="text" class="form-control" id="voltagem" name="voltagem" value={{especificacao.voltagem}} aria-describedby="emailHelp">	
					</td>
						
					<td>
						<button type="submit" name="editar" value= "editar" class="btn btn-warning" >Editar</button>
					</td>					  
					<td>
						<button type="submit" name="excluir" value= "excluir" class="btn btn-danger">Excluir</button>
					</td>
				</form>
			<tr>
			{%endfor%}
		</tbody>
    
	</table>
  </main>

{%endblock%}
