<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.82.0">
    <title>Jig </title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/dashboard/">   
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/dashboard.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/bootstrap.min.css') }}"/>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style> 
    <!--
     <link  href="{{ url_for('static', filename='./css/dashboard.css') }}"  rel="stylesheet">
      Custom styles for this template 
    <link href="./css/dashboard.css" rel="stylesheet">
    -->
  </head>
  <body>
    
<header class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap p-0 shadow top-0">
 
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 bg-white " href="#">
    <img src="jabil_logo.png" alt="" height="24" class="d-inline-block align-text-top" bg=white>
  </a>
  <div class="position-absolute top-0 start-50 translate-middle-x">
    <h2 style="color: white;">Testador de Compressores</h3>       
  </div> 

</header>

<div class="container-fluid">

  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">

          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="shopping-cart"></span>
              Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="users"></span>
              Customers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              Integrations
            </a>
          </li>
        </ul>
    
      </div>
    </nav>

   

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

      <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
 
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-white" style="background-color: cornflowerblue;">Histórico de produção</h5>
              <div class="table-responsive">
                <table class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Header</th>
              
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1,001</td>
                      <td>random</td>
                    </tr>
                    <tr>
                      <td>1,002</td>
                      <td>placeholder</td>
                    </tr>
                    <tr>
                      <td>1,003</td>
                      <td>data</td>
                    </tr>
                    <tr>
                      <td>1,003</td>
                      <td>information</td>
                    </tr>
                    <tr>
                      <td>1,004</td>
                      <td>text</td>
                    </tr>
                    <tr>
                      <td>1,001</td>
                      <td>random</td>
                    </tr>
                    <tr>
                      <td>1,002</td>
                      <td>placeholder</td>
                    </tr>
                    <tr>
                      <td>1,003</td>
                      <td>data</td>
                    </tr>
                    <tr>
                      <td>1,003</td>
                      <td>information</td>
                    </tr>
                    <tr>
                      <td>1,004</td>
                      <td>text</td>
                    </tr>
                    <tr>
                      <td>1,004</td>
                      <td>text</td>
                    </tr>
                  
                   
                  </tbody>
                </table>
              </div>
              <div class="table-responsive">
                <table class="table table-striped table-sm">
                   <tbody>
                    <tr>
                      <td style="background-color: goldenrod;">01</td>
                      <td style="background-color: red;">02</td>
                      <td style="background-color: goldenrod;">03</td>
                      <td style="background-color: goldenrod;">04</td>
                      <td style="background-color: goldenrod;">05</td>
                      <td style="background-color: goldenrod;">06</td>
                      <td style="background-color: goldenrod;">07</td>
                      <td style="background-color: red;">08</td>
                      <td style="background-color: goldenrod;">09</td>
                      <td style="background-color: goldenrod;">10</td>
                      <td style="background-color: goldenrod;">11</td>
                      <td style="background-color: goldenrod;">12</td>
                      <td style="background-color: goldenrod;">13</td>
                      <td style="background-color: goldenrod;">14</td>
                      <td style="background-color: red;">15</td>
                    </tr>                                       
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>


        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <div class="row row-cols-1 row-cols-md-1 mb-1 text-center">
                <div class="col">
                  <div class="card mb-4 rounded-3 shadow-sm">                    
                    <div class="card-body">
                      <h5 class="card-title pricing-card-title">Programa Jabil Split 30.000 BTU's</h1>
                    </div>
                  </div>
                </div>
              </div>


              <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <div class="col">
                  <div class="card mb-1 rounded-3 shadow-sm">                    
                    <div class="card-body">
                      <h1 class="card-title pricing-card-title">5</h1>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card mb-1 rounded-3 shadow-sm">
                    <div class="card-body">
                      <h1 class="card-title pricing-card-title">0</h1>
                    </div>
                  </div>
                </div>
                <div class="col"> 
                  <div class="card mb-1 rounded-3 shadow-sm">               
                    <div class="card-body">
                      <h1 class="card-title pricing-card-title">5</h1>                      
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="card">
            <div class="card-body">
              
              <table class="table table-striped table-sm">
                <tbody>
                 <tr>
                   <td>
                    <canvas class="my-4 w-100" id="myChart" width="450" height="190"></canvas>
                   </td>                           

                 </tr>                 
                                                     
               </tbody>
             </table>     
              
             
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
  <script src="{{ url_for('static', filename='./js/dashboard.rtl.js') }}"></script>  
  <script src="{{ url_for('static', filename='./js/bootstrap.bundle.min.js') }}"></script>

<!--
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script><script src="dashboard.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script><script src="dashboard.js"></script>
-->
  </body>
</html>
