{%extends 'base.html'%}     


{% block content %}  

  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="mb-3">        
    </div> 
    
    
      <form id = "barcode_form" action="" method="POST" >
        <div style="display:flex; flex-direction: row; padding:20px">
          <div style="padding-right: 20px; font-size:40px width:100px">Serial Number</div>
          <input id="barcode_input" type="text" name="barcode" class="form-control" aria-describedby="passwordHelpBlock" style= "width:800px" autofocus/>
        </div>
      </form>
   
      
    <div class="card" id="test_popup" style="height:280px;position:fixed;z-index:0;width:80%" >
       <div class="card-body" id="text-popup-body" style="text-align:center">
         <h1> TESTANDO 1 2 3</h1>  
       </div>
    </div>
         
   
    <div class="row" id= "test_dashboard" style="z-index:1;position:fixed;">      
            
      <div class="col-sm-6"  >
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-white" style="background-color: cornflowerblue; text-align:center;">Histórico de teste</h5>
            
                        
            <div class="table-responsive" id="teste_log_1">              
              <table id="teste_resultado">  
                <tr>
                  <th class="tabela_descricao">ITEM</th>
                  <th class="tabela_especificacao">ESPEC.</th>
                  <th class="tabela_lido">LIDO</th>
                </tr>              
                <tbody id="teste_resultado_tbody">                
                </tbody>
              </table>
            </div>
            
            <div style="min-heigth: 10px"> .</div>
            <div id = "teste_status" style="background-color: green; color:white;font-size:50px; font-family:Sans-serif;text-align:center; padding-top:20px: padding-bottom:20px" >
              AGUARDANDO
            </div>
            
            <div style="min-heigth: 10px"> .</div>
            
            <div class="table-responsive">
              <table class="table table-striped table-sm">
                 <tbody>
                  <tr>
                    {% if testes %}
                        {%for teste in testes:%}
                          {%if teste == "Passed" %}
                            <td style="background-color: green; color:white"> OK </td>
                          {%endif%}
                          {%if teste == "Fail" %}
                            <td style="background-color: red; color: white"> NG </td>
                          {%endif%}                            
                        {%endfor %}
                                      
                    
                    {% endif %}
                    

                  </tr>                                       
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>


      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <div class="row row-cols-1 row-cols-md-1 mb-1 text-center">
              <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">                    
                  <div class="card-body" id ="model_card">
                    {% if modelo %}
                       <h5 id="modelo_codigo"class="card-title pricing-card-title" style="font-size:50px; text-align:center" >{{modelo.codigo}}</h1>
                       <h5 class="card-title pricing-card-title" style="text-align:left" >PN: JCH-{{modelo.codigo}}</h1>
                       <h5 class="card-title pricing-card-title" style="text-align:left">Tipo: {{modelo.modo_temperatura}}</h1>
                       <h5 class="card-title pricing-card-title" style="text-align:left">Voltagem: {{modelo.voltagem}}/{{modelo.tipo_alimentacao}}</h1>                      
                       <h5 id="barcode" class="card-title pricing-card-title" style="text-align:left">Serial: {{barcode}}</h1>
                    {%else%}
                      <h5 id="barcode" class="card-title pricing-card-title" style="text-align:left"></h1>
                    {%endif%}
                    
                  </div>
                </div>
              </div>
            </div>

            
            <div class="row row-cols-1 row-cols-md-2 mb-2 text-center">
              <div class="col">
                <img src="{{ url_for('static', filename='./img/logo_egenharia_industrial_trasparente.png') }}" width=50% align="center"> 
              </div>
              <div class="col">
                <img src="{{ url_for('static', filename='./img/logo_engenharia_teste_transparente.png') }}" width=50% align="center"> 
              </div>                 
            </div>
            


<!--
<div class="logo" align="center">          
          <img src="{{ url_for('static', filename='./img/logo_egenharia_industrial_trasparente.png') }}" width=50% align="center">  
        </div>
        <div class="logo">-</div>  
        <div class="logo" align="center">
          <img src="{{ url_for('static', filename='./img/logo_engenharia_teste_transparente.png') }}" width=50% align="center">         
        </div> 




            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
              <div class="col">
                <div class="card mb-1 rounded-3 shadow-sm">                    
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">5</h1>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card mb-1 rounded-3 shadow-sm">
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">0</h1>
                  </div>
                </div>
              </div>
              <div class="col"> 
                <div class="card mb-1 rounded-3 shadow-sm">               
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">5</h1>                      
                  </div>
                </div>
              </div>
            </div>
-->

          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
  <script defer src="{{ url_for('static', filename='./js/teste.js') }}"></script> 

{%endblock%}
