{%extends 'base.html'%}


{% block content %}
  
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
	  
	<div class="mb-3">        
	</div> 
	  
	<div class="mb-3">
		
		<button onclick="location.href='cadastro_modelos'" type="button" class="btn btn-primary">
         Novo modelo</button>	
        
	</div>  
	  
	<table class="table">
		
		<thead>
			<th>Código</th>
			<th>Nome</th>
			<th>Btus</th>
			<th>Modo</th>
			<th>Alimentação</th>
			<th>Voltagem</th>
			<th style="visibility:hidden">editar</th>
			<th style="visibility:hidden">excluir</th>
		</thead>
		
		<tbody>
			{%for modelo in modelos_compressores%}
			<tr>
				<form action="" method="POST">
					
					<td name = "codigo" >
						<input type="text" class="form-control" id="codigo" name="codigo" value={{modelo.codigo}} aria-describedby="emailHelp">	
					</td>
					
					<td name = "nome" >
						<input type="text" class="form-control" id="nome" name="nome" value={{modelo.nome}} aria-describedby="emailHelp">	
					</td>
					
					<td name = "btus" >
						<input type="text" class="form-control" id="btus" name="btus" value={{modelo.btus}} aria-describedby="emailHelp">	
					</td>
					
					<td name = "temperatura" >
						<input type="text" class="form-control" id="modo_temperatura" name="modo_temperatura" value={{modelo.modo_temperatura}} aria-describedby="emailHelp">	
					</td>
					
					<td name = "alimentacao" >
						<input type="text" class="form-control" id="tipo_alimentacao" name="tipo_alimentacao" value={{modelo.tipo_alimentacao}} aria-describedby="emailHelp">	
					</td>
					
					<td name = "voltagem" >
						<input type="text" class="form-control" id="voltagem" name="voltagem" value={{modelo.voltagem}} aria-describedby="emailHelp">	
					</td>
						
					<td>
						<button type="submit" name="editar" value= "editar" class="btn btn-warning" >Editar</button>
					</td>					  
					<td>
						<button type="submit" name="excluir" value= "excluir" class="btn btn-danger">Excluir</button>
					</td>
				</form>
			<tr>
			{%endfor%}
		</tbody>
    
	</table>
  </main>

{%endblock%}
